button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media screen and (max-width: 767px) {

 
  body {
    display: flex;
    justify-content: center; 
    align-items: center;
    // height: 100vh; 
    margin: 0; 
    padding: 0; 
  }


  .responsive-container {
    text-align: center;
    width: 100%; 
    
    h1 {
      font-size: x-small;
      text-align: center;
      margin: 2px 2px 2px 2px;
    }
 
    .div-mobile {
      flex-wrap: wrap;
      margin: 0.8rem !important;
      padding: 0.8rem !important;  
    }
    

    section {
      display: flex;
      align-items: center;
      font-size: xx-small;
  
  
      select {
        max-width:20vw;
        & > option {
          font-size: 0.1rem;
        }
      }
  
      h3 {
        color: yellow;
        font-size: xx-small;
      }
    }
      
      .section-reverse {
       flex-direction: column-reverse;
       box-sizing: revert;
       margin: 0 !important;
       padding: 0 !important; 
  
       .cart {
         margin: 0.1rem !important;
         padding: 0.1rem !important; 
         align-items: center; 
       
         h4 {
           font-size: x-small
        } 
  
          div {
            width: 100% !important;
            margin: 0 auto;
            padding: 2px;
            
            p {
              font-size: 0.6rem;
              padding: 0.2rem 0.3rem;
            }
            
            .cart-item {
              width: 100%;
              margin: 0.1rem !important;
              padding: 0.2rem !important; 
              align-self: center;  
              font-size: 0.8rem;  
            } 
          }
        }
      }
     
      .product-card {
        width: auto !important;
        height: auto !important;
      }  
      
      .no-wrap {
        flex-direction: column;
        max-width: 90vw;
      }
      .display-none {
        display:none;
      }
  }
}


@media screen and (max-width: 992px){

  body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    // height: 100vh; 
    margin: 0;
    padding: 0;
  }


  .responsive-container {
    text-align: center;
    width: 100%; 
    font-style: italic;
    
    h1 {
      font-size: 1rem;
      text-align: center;
      margin: 2px 2px 2px 2px;
    }
 
    .div-mobile {
      flex-wrap: wrap;
      margin: 0.8rem !important;
      padding: 0.8rem !important;  
    }
    
    section {
      display: flex;
      align-items: center;
      font-size: xx-small;
  
  
      select {
        max-width:20vw;
        & > option {
          font-size: 0.1rem;
        }
      }
  
      h3 {
        font-size: xx-small;
      }
    }
      
      .section-reverse {
       flex-direction: column-reverse;
       box-sizing: revert;
       margin: 0 !important;
       padding: 0 !important; 
  
       .cart {
         margin: 0.1rem !important;
         padding: 0.1rem !important; 
         align-items: center; 

       
         h4 {
           font-size: x-small
        } 
  
          div {
            width: 100% !important;
            margin: 0 auto;
            padding: 2px;
            
            p {

              font-size: 0.6rem;
              padding: 0.2rem 0.3rem;
            }
            
            .cart-item {
              width: 100%;
              margin: 0.1rem !important;
              padding: 0.2rem !important; 
              align-self: center;  
              font-size: 0.8rem;  
            }
          
            
          }
          
        }
        
      }
     
  
      .product-card {
        width: auto !important;
        height: auto !important;
      }  
      
      .no-wrap {
        max-width: 90vw;
      }
      .display-none {
        display:none;
      }

  }

}

